services:

  # PostgreSQL service
  postgres:
    container_name: local_postgres
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=my-secret
      - POSTGRES_USER=root
    ports:
      - "5432:5432"
    restart: always

  mariadb:
    container_name: local_db
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=my-secret
      - MYSQL_USER=root
    ports:
      - "3306:3306"
    restart: always

  pulsar:
    container_name: local_pulsar
    image: apachepulsar/pulsar:4.0.6
    ports:
      - "8080:8080"
      - "6650:6650"
      # volumes:
      # - ./pulsardata:/pulsar/data
      # - ./pulsarconf:/pulsar/conf
    environment:
      # Optional: Uncomment if you want to use ZooKeeper as metadata store
      - PULSAR_STANDALONE_USE_ZOOKEEPER=1
      # Example for custom configurations, replace xxx with actual config name and yyy with value
      # - PULSAR_PREFIX_xxx=yyy
      # - PULSAR_PREFIX_acknowledgmentAtBatchIndexLevelEnabled=true # Example from a common config
    command: >
      bin/pulsar standalone
    restart: always

  minio:
    container_name: local_minio
    image: minio/minio
    ports:
      - "9000:9000" # MinIO API
      - "9001:9001" # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

volumes:
  minio_data:
