@page "/garages"
@attribute [StreamRendering]

<PageTitle>Garages</PageTitle>

<h1>Garages</h1>

@if (!_garages.Any())
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var garage in _garages)
        {
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@garage.Designation</h5>
                    <p class="card-text">Some details about the garage...</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary" @onclick="async () => await LoadNextChunk()">Load Next</button>
}
